<p id="notice"><%= notice %></p>

<h1>Tweets from all users...</h1>

   <% @tweets.each do |tweet| %>
   <div class="well"> 
   <div class="media">
    <div class="media-left media-top">
    <%= image_tag tweet.user.avatar.thumb, class: "img-circle"%>
  </div>

  <div class="media-body">
    <h5 class="media-heading"><%= link_to tweet.user.name, show_user_path(id: tweet.user.id) %> • <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %> <%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %></h5>
    <p>@<%= tweet.user.username %></p>
    <p> Posted <%= time_ago_in_words(tweet.created_at) %> ago...</p>
    <p><%= tweet.message.html_safe %></p>
    
  </div>
</div>
</div>
  
<% end %>
